.container {
    width: 200px;
    text-align: center;
    background-color: #6f7b919d;
    min-height: 65vh;
}

.vl {
    border-right: 1px solid rgba(255, 255, 255, 0.856);
}

.hl {
    border-bottom: 1px solid rgba(255, 255, 255, 0.856);;
}
h2 {
    padding: 0px;
}

h1 span {
    color:  #5383d3;
}

.title {
    padding-top: 0.1px;

}

/* .title:hover {
    background-color: #6f7b91;
} */

.books {
    padding-top: 0.1%;
}

.books:hover {
    background-color: #6f7b91;
}

.users {
    padding-top: 0.1%;
}

.users:hover {
    background-color: #6f7b91;
}

.information-container {
    width: 940px;
    float: right;
    margin-top: -65vh;
}

.search-area {
    text-align: center;
    margin-top: 20px;
    display: flex;
}

.search-bar {
    margin-left: 7.5%;
    margin-right: auto;
}

.search-bar input {
    padding: 6px;
    border: none;
    font-size: 17px;
    outline:none
}

.search-area button {
    background-color: #aa0404;
    border-style: none;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 17px;
    font-weight: 500;
    height: 35px;
    list-style: none;
    outline: none;
    padding: 0px 16px;
    margin-left: -4px;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    touch-action: manipulation;
}

.search-area button:hover{
  background-color: #830202;
  color: #fff;
}

.leave-button {
    float: right;
    margin-right: 7.5%;
    background-color: #aa0404;
    color: white;
    padding: 8px 16px;
    border: none;
    cursor: pointer;
    width: 10%;
}

.leave-button:hover {
    background-color: #830202;
}

.add-button {
    margin-top: 20px;
    float: left;
    margin-left: 7.5%;
    background-color: #aa0404;
    color: white;
    padding: 8px 16px;
    border: none;
    cursor: pointer;
    width: 10%;
}

.add-button:hover {
    background-color: #830202;
}


.books-table {
    width: 85%;
    min-height: 450px;
    background-color: #7A879C;
    margin-top: 45px;
    margin-left: 70px;
    border-radius: 5px;
}

.buttons-left {
    margin-top: 30px;
    margin-left: 70px;
}

.buttons-left button {
    margin-right: 30px;
}

.delete-button {
    background-color: #aa0404;
    color: white;
    padding: 8px 16px;
    border: none;
    cursor: pointer;
    margin-left: 20px;
}

.delete-button:hover {
    background-color: #830202;
}

.edit-button {
    margin-left: 20px;
    background-color: #c9cc00;
    color: white;
    padding: 8px 16px;
    font-size: 13px;
    border: none;
    cursor: pointer;
}

.edit-button:hover {
    background-color: #969300;
}

.read-button {
    margin-left: 20px;
    background-color: #04AA6D;
    color: white;
    padding: 8px 16px;
    border: none;
    cursor: pointer;
}

.read-button:hover {
    background-color: #028354;
}

.scroll {
    width: 800px;
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

.fav-book {
    height: 80px;
    width: 800px;
    background-color: #7A879C;
    color: white;
    border-bottom: 1px solid rgba(161, 161, 161, 0.856);
}

.fav-book:hover {
    background-color: #6f7b91;
}

.fav-book h2{
    margin: 0;
    width: 60%;
    padding: 22px;
    overflow: hidden;
    text-overflow: ellipsis; 
    white-space: nowrap; 
}

.object-to-right {
    width: 40%;
    margin-right: 20px;
    margin-left: auto;
    margin-top: -53px;
}

.object-to-right-users {
    width: 24%;
    margin-right: 22px;
    margin-left: auto;
    margin-top: -53px;
}

.scroll::-webkit-scrollbar {
    width: 20px;
}
  
.scroll::-webkit-scrollbar-track {
    background-color: transparent;
}
  
.scroll::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}
  
.scroll::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf;
}

.closePopup {
    background-color: #aa0404;
    color: white;
    padding: 10px 10px;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    float: right;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.closePopup:hover{
    background-color: #830202;
}
.popUpInputs {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 30px;
    margin: 0 0 0 10px
    
}
.popUpInputs input {
    margin: 10px 0 5px;
    padding: 10px;
    width: 400px;
    outline: none;
}

.popUpWrapper {
    display: block;
    width: 500px;
    height: 600px;
    background-color: #6f7b91;
    margin: 0 auto auto;
    text-decoration: none;
}

.add-book {
    margin: 20px 0;
    background-color: #04AA6D;
    color: white;
    padding: 8px 16px;
    width: 160px;
    border: none;
    cursor: pointer;

}

.add-book:hover {
    background-color: #028354;
}

.addPopup {
    display: none;
    position: fixed;
    background-color: rgb(0, 0 , 0);
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    font-size: 20px;
}

.editPopup {
    display: none;
    position: fixed;
    background-color: rgb(0, 0 , 0);
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    font-size: 20px;
}