.user_instruction {
    margin-right: 10px;
    margin-bottom: 40px;
}

.admin_instruction {
    margin-right: 10px;
    margin-bottom: 40px;
}

li {
    margin-top: 25px;
    font: bold 17px sans-serif;
}

p {
    margin-top: -25px;
    font: 16px 'Roboto';
}